.btn {
    font-weight: $btn-font-weight;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-success {
    @include custom-button(
        darken($success, 30%),
        $success,
    )
}

.btn-primary {
    @include custom-button(
        darken($info, 30%),
        $info,
    )
}

.btn-secondary {
    @include custom-button(
        $dark,
        $light,
    )
}

.btn-danger {
    @include custom-button(
        $danger,
        lighten($danger, 40%)
    )
}